<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li>
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
      <li>
        <a href="/users"><span class="glyphicon glyphicon-user"></span> Users</a>
      </li>
      <li>
        <a href="/records"><span class="glyphicon glyphicon-book"></span> Records</a>
      </li>
      <li>
        <a href="/injuries"><span class="glyphicon glyphicon-wrench"></span> Injuries</a>
      </li>
      <li>
        <a href="/injury_records"><span class="glyphicon glyphicon-book"></span> Injury Records</a>
      </li>
      <li>
        <a href="/bodyparts"><span class="glyphicon glyphicon-forward"></span> BodyParts</a>
      </li>
      <li>
        <a href="/subparts"><span class="glyphicon glyphicon-fast-forward"></span> SubParts</a>
      </li>
    </ul>
  </div>
</nav>