<!DOCTYPE html>
<html>

<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>
  <%- include ("../partials/nav.ejs") %>
  <div class="jumbotron text-center">
    <div class="container">
      <a href="/" class="lang-logo">
        <img src="/injurpedia-logos_white.png">
      </a>
      <h3>Injurpedia Database Management Interface</h3>
      <p><em>please use navigation bar to manage entities</em></p>
    </div>
  </div>
    <h4 style="text-align:center">
    Welcome! This database backend supports a website that provides
    </h4>
    <h4 style="text-align:center">
    user-friendly recovery guides to adults with non-life threatening injuries.
    </h4>
</body>

</html>